@import ../../../sass/variables
.wrapper
    background-color: white
    border-radius: $borderRad
    padding: 1.5rem 1.5rem 1rem 1.5rem
    box-shadow: 0 5px 20px 0 $dark10
    display: flex
    height: 350px
    width: 100%
    max-width: 500px
    flex-direction: column
    margin: 0 auto
    &:last-child
        margin-bottom: 0
    h2 
        font-size: 1.5rem
        color: $dark30
        margin-top: 0.75rem
        display: flex
        align-items: center
        justify-content: space-between
        i
            padding: 0.5rem
            cursor: pointer
        &.active
            i
                color: #ff296e
                animation: scale 0.5s ease-out

@keyframes scale
    0%
        transform: scale(1)
    50%
        transform: scale(1.5)
    100%
        transform: scale(1)

.colors
    height: 100%
    display: flex
    flex: 1
    flex-direction: column
    border-radius: $borderRad
    overflow: hidden

.color
    flex-grow: 1
    cursor: pointer
    transition: 0.3s ease
    &:hover
        flex-grow: 1.5