@import ../../../sass/variables
.wrapper
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    display: flex
    background-color: $dark10
    z-index: 9999

    
.modal
    margin: auto
    background-color: white
    border-radius: $borderRad
    width: 100%
    max-width: 400px
    padding: 2.5rem
    position: relative

.exit
    position: absolute
    padding: 1rem
    right: .5rem
    top: .25rem
    cursor: pointer
    opacity: .3
h1
    text-align: center
    font-weight: bold
    font-size: 1.75rem
    margin-bottom: 1rem
    letter-spacing: 2px

h2
    text-align: center
    font-weight: bold
    font-size: 1.1rem
    margin-bottom: 1.75rem
    color: $dark30
    i
        color: #ff296e

.buttons
    margin: 2rem

button 
    width: 100%
    border-radius: $borderRad
    color: white
    padding: .75rem 0
    font-size: 1rem
    display: flex
    align-items: center
    justify-content: center
    letter-spacing: 1px
    font-weight: bold
    span
        margin: 0 auto
    i
        font-size: 1.25rem
        margin-left: .5rem
        

#google
    background-color: #ea4335
    margin-bottom: 1.5rem
#twitter
    background-color: #1da1f2
#facebook
    background-color: #3B5998
    i
        font-weight: normal
        position: relative
        top: 1.5px

p
    color: $dark20
    font-size: .8rem
    text-align: center
    line-height: 1.1rem
    a
        color: $dark40
        cursor: pointer
        font-weight: bold

#error
    font-size: 1rem
    color: #ff296e
    margin-top: 1rem
    text-align: center
    i
        margin-right: .5rem
        

@media (max-width: 500px)
    .modal
        border-radius: 0
        max-width: none
    