@import ../../../sass/variables
 
.wrapper
    padding: 2rem

h1
    text-align: center
    margin-bottom: 2rem
    color: $dark20
    font-size: 1.5rem   

.palette
    margin-bottom: 3rem
    display: block


.adobe-banner
    margin-bottom: 2.5rem
    text-align: center
    button
        overflow: hidden
        border-radius: 1rem
        background: white
        position: relative
        display: inline-flex
        box-shadow: 0 10px 30px -5px rgba(0,0,0,0.2)
        justify-content: center
        img
            max-width: 300%
            height: auto
            pointer-events: none
        img.outer
            max-width: 100%
            position: relative
        .inner
            z-index: 2
            position: absolute
            top: 50%
            display: flex
            animation: marquee 8s linear infinite

// create infinite marquee effect
@keyframes marquee
    0%
        transform: translateX(0) translateY(-50%)
    100%
        transform: translateX(-300%) translateY(-50%)




@media (max-width: 900px)
    .wrapper
        padding: 2rem 1rem
    h1
        font-size: 1.5rem