@import ../../../sass/variables

.timeLine  
    position: relative
    margin: 0 5rem

.img
    opacity: 0.2
    display: block
    position: relative

.h
    visibility: hidden
    width: 100%
    position: absolute

.badge
    background-color: white
    border: 5px white solid
    box-shadow: 0 5px 20px 0 $dark10
    border-radius: 50%
    height: 100px 
    min-height: 100px
    width: 100px
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, calc(-50% - 5px))
    z-index: 2
    overflow: hidden
    img
        height: 100%
        width: 100%
        object-fit: contain
        transition: .5s
        display: block
        position: absolute
        top: 0
        border-radius: 50%
        &.hidden
            opacity: 0

.overflowSVG
    max-height: 550px
    max-width: 550px
    overflow: hidden    

.boxShadow
    box-shadow: 0 0 30px 20px #F7F7F7
    position: absolute
    z-index: 1

.box1
    height: 20px
    top: -20px
    right: 0
    bottom: auto
    left: 0

.box2
    height: 20px
    top: auto
    right: 0
    bottom: -20px
    left: 0

@media (max-width: 900px)
    .timeLine
        margin: 5rem 0 4rem 0
    .overflowSVG
        white-space: nowrap
    .badge
        height: 100px
        min-height: 100px
        width: 100px
    .v
        visibility: hidden
        position: absolute
    .h
        visibility: visible
        display: inline
        position: static
    .box1     
        top: 0
        right: auto
        bottom: 0
        left: -20px
        width: 20px      
    .box2
        top: 0
        right: -20px
        bottom: 0
        left: auto
        width: 20px  
