@import ../sass/variables

.page
    position: relative
    height: 100%
    width: 100%
    
.navBar
    display: flex
    background: none
    width: 100%
    height: 60px
    position: fixed
    bottom: 0
    left: 0
    z-index: 999
    justify-content: space-between
    align-items: center
    padding: 0 1rem
    pointer-events: none

.dates
    pointer-events: all
    position: fixed
    top: 0
    left: 0
    z-index: 999
    color: white
    background: $dark20
    border-radius: $borderRad
    padding: 1rem
    margin-left: 1.5rem
    margin-top: 1.5rem 
    font-size: 1.7rem
    cursor: pointer
    height: 55px
    display: flex
    align-items: center
 
.account
    pointer-events: all
    position: fixed
    top: 0
    right: 0
    z-index: 999
    color: white
    background: $dark20
    border-radius: $borderRad
    padding: 1rem
    margin-right: 1.5rem
    margin-top: 1.5rem 
    cursor: pointer
    font-weight: bold
    height: 55px
    display: flex
    align-items: center
    i
        font-size: 1.2rem
        margin-left: 5px
.socialCont
    position: fixed 
    pointer-events: all
    bottom: 0
    left: 0
    display: flex
    flex-direction: column
    margin-left: 1.5rem
    margin-bottom: 1.5rem 
    text-align: center
    h3
        margin-bottom: .5rem
        opacity: .5

.socialBtnCont
    display: flex

.share 
    border-radius: $borderRad
    font-size: 1.7rem
    cursor: pointer
    color: white
    height: 55px
    width: 55px
    display: flex
    align-items: center
    justify-content: center

#facebook
    background-color: #3B5998 

#twitter
    margin-left: 1rem
    background-color: #00aced 

.spinner
    z-index: 1001
    height: 50px
    width: 50px
    border: 5px solid #0578ff
    border-color: #0578ff #0578ff #0578ff transparent
    animation: spin 0.5s ease-in-out infinite
    border-radius: 50%
    position: fixed
    top: calc(50% - 25px)
    left: calc(50% - 25px)

.copy
    z-index: 999
    position: fixed
    top: 0
    left: 50%
    color: white
    background: #333333
    padding: 1rem 3rem
    font-size: 1.25rem
    font-weight: bold
    letter-spacing: 2px
    transform: translate(-50%, -100%)
    border-radius: 50rem
    opacity: 0
    &.active
        animation: copy 1.5s

@keyframes copy
    0%
        transform: translate(-50%, -100%)
        opacity: 0
    50%
        opacity: 1
        transform: translate(-50%, 25%)
    100%
        transform: translate(-50%, 25%)
        opacity: 0


@keyframes spin
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)

#likes
    font-size: 1.5rem

#signIn
    letter-spacing: 2px
    font-size: 1.2rem
    
router-outlet
    display: none

@media (max-width: 900px)
    .navBar
        background: rgba(0,0,0,0.2)
    .socialCont
        display: none
    .dates
        position: static
        margin: 0
        background: none
        color: white
    .account
        position: static
        margin: 0
        background: none
        color: white