@import ../../sass/variables
.wrapper
    padding: 60px 2rem
    width: 100%
    height: 100%
    overflow-y: auto
    -webkit-overflow-scrolling: touch
    padding-bottom: 80px
    background: $light

// .adobe-banner
//     padding: 0 1rem
//     text-align: center
//     a
//         max-width: 100%
//         &.mobile
//             display: none
//         img
//             max-width: 100%
//             height: auto
//             margin: 0 auto
//             display: block
.adobe-banner
    padding: 0 1rem
    margin-bottom: 5rem
    text-align: center
    button
        overflow: hidden
        border-radius: 1rem
        max-width: 728px
        background: white
        position: relative
        display: inline-flex
        box-shadow: 0 10px 30px -5px rgba(0,0,0,0.2)
        img
            max-width: 100%
            height: auto
            pointer-events: none
        .outer
            position: relative
            z-index: 2
        .inner
            position: absolute
            top: 50%
            display: flex
            animation: marquee 7s linear infinite

// create infinite marquee effect
@keyframes marquee
    0%
        transform: translateX(0) translateY(-50%)
    100%
        transform: translateX(-100%) translateY(-50%)


.adobe-banner-mobile
    margin-bottom: 2rem
    text-align: center
    display: none
    button
        overflow: hidden
        border-radius: 1rem
        background: white
        position: relative
        display: inline-flex
        box-shadow: 0 10px 30px -5px rgba(0,0,0,0.2)
        justify-content: center
        img
            max-width: 300%
            height: auto
            pointer-events: none
        img.outer
            max-width: 100%
            position: relative
        .inner
            z-index: 2
            position: absolute
            top: 50%
            display: flex
            animation: marquee-mobile 8s linear infinite

// create infinite marquee effect
@keyframes marquee-mobile
    0%
        transform: translateX(0) translateY(-50%)
    100%
        transform: translateX(-300%) translateY(-50%)

.logo
    width: 100%
    height: 90px
    text-align: center
    margin-bottom: 4rem
    a
        height: 100%
        display: inline
    img
        max-width: 100%
        height: 100%

.grid
    max-width: 1200px
    margin: 0 auto 5rem auto
    display: grid
    grid-template-columns:  repeat(auto-fill, 120px)
    grid-auto-rows: auto
    grid-gap: 4rem
    justify-content: center

a
    display: block

figure
    cursor: pointer
    img
        display: block
        border-radius: 50%
        border: solid 6px white
        height: 120px
        width: 100%
        object-fit: cover
        box-shadow: 0 5px 35px 0 $dark20
        margin-bottom: 1rem

figcaption
    text-align: center
    color: $dark50
    font-weight: bold
    font-size: 1.3rem

.subscribe
    background: #555d6e
    color: white
    padding: 3rem
    border-radius: $borderRad
    text-align: center
    max-width: 1200px
    margin: 0 auto
    position: relative
    h1
        font-weight: bold
        line-height: 2.5rem
        margin-bottom: 2rem

form
    width: 100%
    display: flex
    max-width: 800px
    margin: 0 auto
    input
        flex-grow: 1
        border: solid white 2px
        padding: 1rem 
        font-size: 1.2rem
        color: white
        border-radius: $borderRad
        +placeholder(rgba(255,255,255,.5))
    button 
        padding: 1rem 
        width: 250px
        font-size: 1.1rem
        font-weight: bold
        letter-spacing: 2px#373d48
        color: #373d48
        border-radius: $borderRad
        background-color: #ffe004
        border: solid #ffe004 2px
        margin-left: 2rem

.error
    margin-top: 1rem
    width: 100%
    text-align: center
    color: white
    i
        margin-right: .5rem
        
.success
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%,-50%)
    font-size: 5rem     
    animation: success 0.5s ease-in-out
    

.socialCont
    width: 100%
    padding: 2rem 0
    display: none
    flex-direction: column
    align-items: center
    h3
        opacity: .5
        margin-bottom: .5rem
    a
        flex-grow: 1

.socialBtnCont
    display: flex
    width: 100%

.share 
    border-radius: $borderRad
    font-size: 1.7rem
    cursor: pointer
    color: white
    height: 60px
    display: flex
    align-items: center
    justify-content: center


#facebook
    background-color: #3B5998 

#twitter
    margin-left: 1rem
    background-color: #00aced 

@keyframes success
    0%
        opacity: 0
        font-size: 0
    70%
        opacity: 1
        font-size: 6rem
    100% 
        font-size: 5rem
        
@media (max-width: 900px)
    .subscribe
        padding: 2rem
    h1
        font-size: 1.5rem
    form
        flex-direction: column
        align-items: center
        width: 100%
        input
            margin-bottom: 1.5rem
            width: 100%
        button
            margin: 0
            width: 100%
    .socialCont
        display: flex

@media (max-width: 700px)
    .adobe-banner
        display: none
    .adobe-banner-mobile
        display: block
    // .adobe-banner
    //     a
    //         &.mobile
    //             display: block
    //         &.desktop
    //             display: none

@media  (max-width: 500px)
    .wrapper
        padding-top: 2rem

@media (max-width: 400px)
    .logo
        padding: .5rem 1rem 0 1rem
        img
            height: auto
            width: 100%
    .subscribe
        padding: 1.5rem

@media  (max-width: 400px) and (max-height: 700px)
    .wrapper
        padding-top: .5rem
