@import ../../sass/variables
.wrapper
    padding: 60px 2rem
    width: 100%
    height: 100%
    overflow-y: auto
    -webkit-overflow-scrolling: touch
    padding-bottom: 80px
    background: $light
    text-align: center

.logo
    width: 100%
    height: 90px
    text-align: center
    margin-bottom: 4rem
    a
        height: 100%
        display: inline
    img
        max-width: 100%
        height: 100%

.grid
    margin: 0 auto 3rem auto
    display: grid
    grid-template-columns:  repeat(auto-fill, minmax(0,500px))
    grid-auto-rows: auto
    grid-gap: 4rem
    justify-content: center
    max-width: 1200px

button
    color: $dark40
    background: $dark10
    font-weight: bold
    font-size: 1.4rem
    border-radius: $borderRad
    padding: 1.25rem 0
    width: 250px
    letter-spacing: 2px
    margin-bottom: 1rem

@media (max-width: 900px)
    .wrapper
        padding: 2rem 1rem 60px 1rem

@media (max-width: 400px)
    .logo
        padding: .5rem 2rem 0 2rem
        img
            height: auto
            width: 100%

@media  (max-width: 400px) and (max-height: 700px)
    .wrapper
        padding-top: .5rem