<div class="wrapper">

  <div class="left">
    <timeline [triggerAnim]="(timeLineState$ | async)" [date]="currDate"></timeline>
    <div class="textCont">
      <button class="arrow" (click)="changeDate('up')">
        <i class="fas fa-chevron-up"></i>
      </button>
      <button class="arrow" (click)="changeDate('down')">
        <i class="fas fa-chevron-down"></i>
      </button>
      <div class="summary" [@fade]="fadeState" (@fade.done)="fadeDone($event)">
        <h1>{{currDate}}</h1>
        <p>{{text}}</p>
        <button (click)="rightToggle()">
          <span *ngIf="postersToggle">SEE COLORS</span>
          <span *ngIf="!postersToggle">SEE IMAGES</span>
        </button>
      </div>
    </div>
  </div>

  <div class="right" #right>
    <div [@fade]="fadeState" *ngIf="postersToggle">
      <posters [posters]="posters"></posters>
    </div>
    <div [@fade]="fadeState" *ngIf="!postersToggle">
      <color-list [palettes]="palettes" [date]="currDate" [setLikes]="likes" (updatePalette)="updatePalette($event)">
      </color-list>
    </div>

  </div>

</div>
