@import ../../sass/variables

.wrapper
    width: 100%
    height: 100%
    display: flex
    background: $light

.left
    height: 100%
    flex-basis: 50%
    align-items: center
    justify-content: center
    display: flex
    overflow: hidden

.right
    height: 100%
    flex-basis: 50%
    overflow-y: scroll
    -webkit-overflow-scrolling: touch
    background-color: $dark3


.textCont
    position: relative
    height: 100%
    display: flex
    align-items: center
    max-height: 550px

.arrow
    border: 4px solid rgba(16, 16, 23, 0.2)
    color: rgba(16, 16, 23, 0.2)
    border-radius: 50%
    height: 50px
    min-height: 50px
    width: 50px
    display: flex
    justify-content: center
    align-items: center
    font-size: 1.75rem
    position: absolute
    top: 0
    left: 0
    margin-top: 1rem
    i
        margin: 0 auto
        position: relative
    &:nth-of-type(2)
        top: auto
        bottom: 0
        margin-bottom: 1rem
        margin-top: 0
        i
            top: 2px

.summary 
    margin-right: 2rem
    h1
        font-size: 3.5rem
        line-height: 3.5rem
        font-weight: bold
        margin-bottom: 1rem
        color: $dark40
    p
        max-width: 400px
        margin-bottom: 2rem
        font-size: 1.1rem
        line-height: 2rem
        color: $dark40
        
    button
        color: $dark40
        background: $dark10
        font-weight: bold
        font-size: 1.4rem
        border-radius: $borderRad
        padding: 1.25rem 0
        width: 250px
        letter-spacing: 2px

@media (max-width: 900px)
    .wrapper
        display: block
        overflow-y: scroll
        -webkit-overflow-scrolling: touch
        padding-bottom: 60px
    .left
        height: auto
        flex-direction: column
        align-items: center
    .textCont
        height: auto
        display: block
    .right
        height: auto
        overflow: visible
    .textCont
        margin-bottom: 3rem

    .summary
        text-align: center
        margin: 0 1rem
        h1
            font-size: 2.5rem
            line-height: 3rem
            margin-bottom: 1.5rem
        p
            font-size: 1rem

    .arrow
        margin: 0 0 0 2rem
        height: 50px
        min-height: 50px
        width: 50px
        top: 0
        left: auto
        bottom: auto
        right: 2rem
        i
            left: 2px
            transform: rotate(90deg)
        &:nth-of-type(2)
            margin: 0 2rem 0 0 
            top: 0
            left: 2rem
            bottom: auto
            right: auto
            i
                left: -2px
                top: 0

