@import ../../../sass/variables


.posterSect
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: 1fr 20% 
    width: 100% 
    padding: 2rem
    position: relative
    
.bg
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    opacity: .05
    background-position: center center
    background-size: cover
    background-repeat: no-repeat
    filter: grayscale(100%)

.imageCont
    height: 100%
    display: flex

.image
    margin: auto 
    position: relative
    display: table
    img
        display: block
        z-index: 2
        max-width: 600px
        width: 100%
        position: relative
        border-radius: $borderRad 
    &:before
        content: ""
        position: absolute
        top: 1rem
        right: 1rem
        bottom: 1.5rem
        left: 1rem
        box-shadow: 0 30px 50px 0 $dark40
        z-index: 1

.palette
    width: 100%
    max-width: 400px
    margin: 2rem auto 0 auto
    height: 40px
    position: relative
    & .overflow
        z-index: 2
        position: relative
        border-radius: $borderRad
        display: flex
        overflow: hidden
        height: 100%
        width: 100%

    &:before
        content: ""
        position: absolute
        top: 1rem
        right: 1rem
        bottom: .5rem
        left: 1rem
        box-shadow: 0 10px 30px 0 $dark40
        z-index: 1

.color
    flex-grow: 1
    cursor: pointer
    transition: 0.3s ease
    &:hover
        flex-grow: 1.5
