@import ../../sass/variables

$bgTrans: 2s ease

.wrapper
    width: 100%
    height: 100%
    overflow-y: auto
    overflow-x: hidden
    -webkit-overflow-scrolling: touch
    display: grid
    grid-template-columns: 100%
    grid-template-rows: 1fr 2fr 1fr
    padding: 70px 0 60px 0
    transition: $bgTrans
    // changed
    position: relative
    
// changed
.banner 
    position: absolute
    top: 0
    background: red
    color: white
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    padding: .5rem
    img
        width: 100%
        max-width: 500px

.logo
    width: 100%
    text-align: center
    color: $dark20
    font-size: 1.3rem
    margin-bottom: 2rem
    padding: 0 2rem
    height: 90px
    svg
        height: 100%
        width: 100%
        fill: black
        transition: $bgTrans

h2
    width: 100%
    text-align: center
    font-weight: bold
    color: $dark40
    padding: 0 2rem
    line-height: 2rem

.middle
    display: flex
    flex-direction: column
    justify-content: center

.scrollSection
    transform: scale(1.2)
    margin-top: 4rem
    margin-bottom: 4rem
    position: relative

    
.timeline
    width: 3000px
    height: 26px
    background: url(/assets/timeLineH.png)
    background-repeat-y: no-repeat
    animation: timeline 5s linear infinite
    opacity: 0.2
    position: absolute
    top: 80px
    left: -50px

.badges
    white-space: nowrap
    position: relative
    animation: badges 40s linear infinite
    figure
        cursor: pointer
        width: 180px
        display: inline-block
        margin: 0 69.5px
        img
            display: block
            background-color: white
            border-radius: 50%
            border: solid 6px white
            height: 180px
            width: 100%
            object-fit: cover
            box-shadow: 0 5px 35px 0 $dark20
            margin-bottom: 1.2rem
    figcaption
            text-align: center
            color: $dark50
            font-weight: bold
            font-size: 1.5rem


@keyframes timeline
    0%
        transform: translate3d(0, 0, 0)
    100%
        transform: translate3d(-319px,0,0)

@keyframes badges
    0%
        transform: translate3d(0, 0, 0)
    100%
        transform: translate3d(-3828px,0,0)


.bottom
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    button
        color: white
        font-weight: bold
        font-size: 1.4rem
        border-radius: $borderRad
        padding: 1.25rem 0
        width: 250px
        letter-spacing: 2px
        margin: 0 auto 1rem auto
        display: block
        transition: $bgTrans
        
.contact
    opacity: .4
    margin: 1rem 0
    a:first-child
        margin-right: 1rem
    a:last-child
        margin-left: 1rem

@media  (max-width: 500px)
    .scrollSection
        transform: scale(.85)
        margin: 0
    .wrapper
        grid-template-rows: 1fr 1fr 1fr
        // changed
        
    .logo
        margin-bottom: .75rem
    h2
        font-size: 1.4rem

@media  (max-width: 400px) and (max-height: 700px)
    // changed
    .wrapper
        padding-top: 3rem
    .scrollSection
        transform: scale(.7)
    .logo
        padding: 0 3rem
        margin-bottom: .5rem
    h2
        font-size: 1.2rem
        padding: 0 1rem
    .bottom
        button
            padding: .75rem 0
            width: 200px
            font-size: 1.2rem

        
