<div
  class="wrapper"
  *ngIf="bgColor$ | async as colors"
  [style.background]="colors.bg"
>
  <!-- banner -->
  <a class="banner" target="_blank" href="https://www.youtube.com/@brandonshep"
    ><img src="assets/youtube.png" alt="youtube"
  /></a>

  <div class="top">
    <div class="logo">
      <svg
        [style.fill]="colors.fg"
        width="466"
        height="133"
        viewBox="0 0 466 133"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect width="465.851" height="133" fill="inherit" fill-opacity="0" />
        <rect width="465.851" height="133" fill="inherit" fill-opacity="0" />
        <path
          d="M24.0007 52.0194C25.6786 52.7227 27.2061 53.7411 28.5007 55.0194C29.7746 56.3175 30.7924 57.8442 31.5007 59.5194C32.2591 61.2538 32.6506 63.1264 32.6507 65.0194V74.0194C32.6825 74.4714 32.5534 74.9202 32.2862 75.2862C32.019 75.6522 31.631 75.9119 31.1907 76.0194L20.9407 77.6594C19.9407 77.9594 19.4807 77.5794 19.4807 76.5294V65.6094C19.4807 65.254 19.4105 64.902 19.2742 64.5738C19.1379 64.2456 18.9381 63.9475 18.6864 63.6966C18.4346 63.4458 18.1358 63.2471 17.807 63.112C17.4783 62.9769 17.1261 62.9081 16.7707 62.9094H15.8707C15.5161 62.9094 15.165 62.9792 14.8375 63.1149C14.5099 63.2506 14.2122 63.4495 13.9615 63.7002C13.7108 63.9509 13.5119 64.2485 13.3762 64.5761C13.2406 64.9037 13.1707 65.2548 13.1707 65.6094V116.499C13.1707 117.215 13.4552 117.902 13.9615 118.409C14.4679 118.915 15.1546 119.199 15.8707 119.199H16.7707C17.1261 119.201 17.4783 119.132 17.807 118.997C18.1358 118.862 18.4346 118.663 18.6864 118.412C18.9381 118.161 19.1379 117.863 19.2742 117.535C19.4105 117.207 19.4807 116.855 19.4807 116.499V100.739C19.4807 99.7394 19.9607 99.3094 20.9407 99.6094L31.1907 100.959C31.63 101.069 32.0169 101.329 32.2837 101.694C32.5506 102.06 32.6805 102.508 32.6507 102.959V117.019C32.6597 118.918 32.2749 120.797 31.5207 122.539C30.0885 125.943 27.3932 128.66 24.0007 130.119C22.2586 130.874 20.379 131.258 18.4807 131.249H14.1907C12.2922 131.26 10.4122 130.876 8.67071 130.119C5.27808 128.674 2.57618 125.972 1.13071 122.579C0.366194 120.826 -0.0189006 118.932 0.000713287 117.019V65.0194C-0.0132716 63.1205 0.371705 61.24 1.13071 59.4994C1.83901 57.8242 2.85679 56.2975 4.13071 54.9994C5.4253 53.7211 6.95284 52.7027 8.63071 51.9994C10.3722 51.2432 12.2522 50.8583 14.1507 50.8694H18.4207C20.3407 50.8583 22.2416 51.2501 24.0007 52.0194V52.0194Z"
          fill="inherit"
        />
        <path
          d="M72.6205 117.019C72.6295 118.918 72.2447 120.797 71.4905 122.539C70.7872 124.217 69.7688 125.745 68.4905 127.039C67.1924 128.313 65.6657 129.331 63.9905 130.039C62.2484 130.794 60.3689 131.178 58.4705 131.169H54.1505C52.2553 131.179 50.3788 130.794 48.6405 130.039C45.2429 128.598 42.5366 125.895 41.0905 122.499C40.3551 120.767 39.9841 118.901 40.0005 117.019V65.0194C39.9881 63.1217 40.3695 61.2421 41.1205 59.4994C41.8324 57.8261 42.8497 56.3 44.1205 54.9994C45.4205 53.7231 46.951 52.7051 48.6305 51.9994C50.3688 51.2443 52.2453 50.8594 54.1405 50.8694H58.4205C60.3405 50.8583 62.2414 51.2501 64.0005 52.0194C67.3932 53.4648 70.0951 56.1667 71.5405 59.5594C72.2695 61.2866 72.6371 63.1447 72.6205 65.0194V117.019ZM59.4405 65.6094C59.4432 65.2541 59.3752 64.9018 59.2404 64.573C59.1057 64.2442 58.9069 63.9455 58.6556 63.6942C58.4044 63.443 58.1057 63.2442 57.7769 63.1095C57.4481 62.9747 57.0958 62.9067 56.7405 62.9094H55.8405C55.486 62.9094 55.1349 62.9792 54.8073 63.1149C54.4797 63.2506 54.1821 63.4495 53.9313 63.7002C53.6806 63.9509 53.4817 64.2485 53.346 64.5761C53.2104 64.9037 53.1405 65.2548 53.1405 65.6094V116.499C53.1405 116.854 53.2104 117.205 53.346 117.533C53.4817 117.86 53.6806 118.158 53.9313 118.409C54.1821 118.659 54.4797 118.858 54.8073 118.994C55.1349 119.13 55.486 119.199 55.8405 119.199H56.7405C57.0958 119.202 57.4481 119.134 57.7769 118.999C58.1057 118.865 58.4044 118.666 58.6556 118.414C58.9069 118.163 59.1057 117.865 59.2404 117.536C59.3752 117.207 59.4432 116.855 59.4405 116.499V65.6094Z"
          fill="inherit"
        />
        <path
          d="M110.89 118.86V128.86C110.922 129.074 110.903 129.292 110.836 129.498C110.768 129.703 110.654 129.89 110.501 130.044C110.349 130.197 110.163 130.313 109.958 130.382C109.753 130.45 109.535 130.47 109.32 130.44H83.7604C83.5459 130.47 83.3274 130.45 83.1221 130.381C82.9167 130.312 82.7302 130.197 82.577 130.044C82.4239 129.89 82.3084 129.704 82.2396 129.498C82.1707 129.293 82.1505 129.075 82.1804 128.86V53.2301C82.1505 53.0157 82.1707 52.7972 82.2396 52.5918C82.3084 52.3865 82.4239 52.1999 82.577 52.0468C82.7302 51.8936 82.9167 51.7781 83.1221 51.7093C83.3274 51.6405 83.5459 51.6202 83.7604 51.6501H93.7604C93.9749 51.6202 94.1934 51.6405 94.3987 51.7093C94.6041 51.7781 94.7907 51.8936 94.9438 52.0468C95.0969 52.1999 95.2124 52.3865 95.2813 52.5918C95.3501 52.7972 95.3703 53.0157 95.3404 53.2301V117.29H109.34C109.552 117.264 109.767 117.286 109.969 117.356C110.17 117.426 110.353 117.541 110.503 117.693C110.653 117.845 110.766 118.029 110.833 118.231C110.9 118.434 110.92 118.649 110.89 118.86V118.86Z"
          fill="inherit"
        />
        <path
          d="M148.611 117.019C148.62 118.918 148.235 120.797 147.481 122.539C146.036 125.932 143.334 128.634 139.941 130.079C138.199 130.834 136.32 131.218 134.421 131.209H130.141C128.246 131.219 126.37 130.834 124.631 130.079C121.234 128.638 118.527 125.935 117.081 122.539C116.344 120.794 115.976 118.914 116.001 117.019V65.0193C115.989 63.1217 116.37 61.2421 117.121 59.4993C117.833 57.826 118.85 56.3 120.121 54.9993C121.421 53.723 122.952 52.705 124.631 51.9993C126.37 51.2442 128.246 50.8594 130.141 50.8693H134.421C136.321 50.8666 138.201 51.2582 139.941 52.0193C143.334 53.4648 146.036 56.1667 147.481 59.5593C148.227 61.2829 148.612 63.1412 148.611 65.0193V117.019ZM135.441 65.6093C135.441 65.2539 135.371 64.902 135.235 64.5738C135.098 64.2455 134.899 63.9474 134.647 63.6966C134.395 63.4457 134.096 63.2471 133.768 63.112C133.439 62.9769 133.087 62.908 132.731 62.9093H131.831C131.115 62.9093 130.428 63.1938 129.922 63.7001C129.416 64.2065 129.131 64.8932 129.131 65.6093V116.499C129.131 117.215 129.416 117.902 129.922 118.409C130.428 118.915 131.115 119.199 131.831 119.199H132.731C133.087 119.201 133.439 119.132 133.768 118.997C134.096 118.862 134.395 118.663 134.647 118.412C134.899 118.161 135.098 117.863 135.235 117.535C135.371 117.207 135.441 116.855 135.441 116.499V65.6093Z"
          fill="inherit"
        />
        <path
          d="M192.511 128.88C192.741 129.94 192.361 130.46 191.391 130.46H181.141C180.673 130.454 180.22 130.296 179.851 130.01C179.455 129.733 179.158 129.337 179.001 128.88L170.791 101.3V130.46L170.671 129.33C170.623 129.672 170.444 129.982 170.171 130.193C169.898 130.404 169.553 130.5 169.211 130.46H159.211C158.996 130.49 158.778 130.47 158.572 130.401C158.367 130.332 158.18 130.217 158.027 130.064C157.874 129.91 157.759 129.724 157.69 129.518C157.621 129.313 157.601 129.095 157.631 128.88V53.2301C157.601 53.0157 157.621 52.7972 157.69 52.5918C157.759 52.3865 157.874 52.1999 158.027 52.0468C158.18 51.8936 158.367 51.7781 158.572 51.7093C158.778 51.6405 158.996 51.6202 159.211 51.6501H176.101C177.996 51.6402 179.872 52.025 181.611 52.7801C185.008 54.2217 187.715 56.9245 189.161 60.3201C189.912 62.0629 190.293 63.9425 190.281 65.8401V84.1901C190.319 86.8398 189.575 89.4418 188.141 91.6701C186.758 93.8545 184.814 95.6265 182.511 96.8001L192.511 128.88ZM170.791 86.3301H174.391C174.746 86.3301 175.098 86.26 175.426 86.1237C175.754 85.9874 176.052 85.7876 176.303 85.5358C176.554 85.284 176.753 84.9852 176.888 84.6565C177.023 84.3277 177.092 83.9756 177.091 83.6201V66.4001C177.091 65.6841 176.806 64.9973 176.3 64.491C175.793 63.9846 175.107 63.7001 174.391 63.7001H170.791V86.3301Z"
          fill="inherit"
        />
        <path
          d="M348.091 118.86V128.86C348.123 129.074 348.104 129.293 348.037 129.498C347.969 129.704 347.854 129.891 347.702 130.044C347.55 130.197 347.363 130.313 347.158 130.382C346.953 130.451 346.735 130.471 346.521 130.44H321.001C320.787 130.471 320.569 130.451 320.364 130.382C320.159 130.313 319.972 130.197 319.82 130.044C319.668 129.891 319.553 129.704 319.486 129.498C319.418 129.293 319.399 129.074 319.431 128.86V53.2305C319.399 53.0165 319.418 52.7982 319.486 52.5927C319.553 52.3872 319.668 52.2004 319.82 52.047C319.972 51.8936 320.159 51.7778 320.364 51.709C320.569 51.6402 320.787 51.6201 321.001 51.6505H331.001C331.216 51.6205 331.434 51.6408 331.639 51.7096C331.845 51.7784 332.031 51.894 332.184 52.0471C332.338 52.2002 332.453 52.3868 332.522 52.5921C332.591 52.7975 332.611 53.016 332.581 53.2305V117.29H346.581C346.79 117.27 347 117.298 347.196 117.371C347.393 117.443 347.57 117.56 347.715 117.711C347.861 117.862 347.97 118.043 348.035 118.243C348.1 118.442 348.119 118.653 348.091 118.86Z"
          fill="inherit"
        />
        <path
          d="M383.56 118.86V128.86C383.59 129.075 383.57 129.293 383.501 129.498C383.432 129.704 383.317 129.89 383.164 130.044C383.011 130.197 382.824 130.312 382.619 130.381C382.413 130.45 382.195 130.47 381.98 130.44H357.55C357.336 130.47 357.117 130.45 356.912 130.381C356.707 130.312 356.52 130.197 356.367 130.044C356.214 129.89 356.098 129.704 356.03 129.498C355.961 129.293 355.941 129.075 355.97 128.86V53.2301C355.941 53.0157 355.961 52.7972 356.03 52.5918C356.098 52.3865 356.214 52.1999 356.367 52.0468C356.52 51.8936 356.707 51.7781 356.912 51.7093C357.117 51.6405 357.336 51.6202 357.55 51.6501H382C382.215 51.6202 382.433 51.6405 382.639 51.7093C382.844 51.7781 383.031 51.8936 383.184 52.0468C383.337 52.1999 383.452 52.3865 383.521 52.5918C383.59 52.7972 383.61 53.0157 383.58 53.2301V63.2301C383.614 63.4458 383.597 63.6664 383.53 63.874C383.462 64.0817 383.347 64.2706 383.193 64.4254C383.039 64.5802 382.851 64.6966 382.644 64.7652C382.437 64.8338 382.216 64.8526 382 64.8201H369.15V81.0201H380.29C380.504 80.9884 380.723 81.0071 380.928 81.0746C381.134 81.1422 381.321 81.2567 381.474 81.4091C381.627 81.5616 381.743 81.7477 381.812 81.9527C381.881 82.1578 381.901 82.376 381.87 82.5901V92.5901C381.9 92.8046 381.88 93.0231 381.811 93.2285C381.742 93.4338 381.627 93.6204 381.474 93.7735C381.321 93.9267 381.134 94.0422 380.929 94.111C380.723 94.1798 380.505 94.2001 380.29 94.1701H369.15V117.25H382C382.217 117.22 382.437 117.242 382.643 117.313C382.85 117.384 383.036 117.503 383.188 117.66C383.34 117.817 383.453 118.007 383.518 118.216C383.582 118.424 383.597 118.645 383.56 118.86V118.86Z"
          fill="inherit"
        />
        <path
          d="M425.781 128.88C425.921 129.94 425.471 130.46 424.421 130.46H414.181C413.964 130.476 413.747 130.446 413.542 130.373C413.338 130.301 413.15 130.187 412.992 130.038C412.833 129.89 412.707 129.711 412.621 129.512C412.534 129.312 412.49 129.098 412.491 128.88L411.591 116.72H404.591L403.691 128.88C403.69 129.097 403.645 129.311 403.558 129.51C403.471 129.708 403.345 129.887 403.187 130.035C403.028 130.183 402.842 130.297 402.638 130.37C402.434 130.443 402.217 130.474 402.001 130.46H391.771C390.771 130.46 390.271 129.94 390.421 128.88L398.871 53.2305C398.878 53.0061 398.931 52.7855 399.027 52.5824C399.123 52.3794 399.259 52.1982 399.428 52.0501C399.597 51.9019 399.794 51.79 400.008 51.7213C400.222 51.6526 400.447 51.6285 400.671 51.6505H415.531C415.754 51.6285 415.98 51.6526 416.194 51.7213C416.407 51.79 416.605 51.9019 416.773 52.0501C416.942 52.1982 417.079 52.3794 417.175 52.5824C417.27 52.7855 417.324 53.0061 417.331 53.2305L425.781 128.88ZM410.691 104.12L408.551 73.6005H407.651L405.511 104.12H410.691Z"
          fill="inherit"
        />
        <path
          d="M451.671 51.6501C453.566 51.6402 455.442 52.025 457.18 52.7801C460.578 54.2217 463.284 56.9245 464.73 60.3201C465.482 62.0629 465.863 63.9425 465.85 65.8401V84.1901C465.864 86.0847 465.482 87.9612 464.73 89.7001C464.021 91.3778 463.004 92.9075 461.73 94.2101C460.43 95.4864 458.9 96.5044 457.22 97.2101C455.482 97.9621 453.605 98.3435 451.71 98.3301H446.421V128.84C446.45 129.055 446.43 129.273 446.361 129.478C446.293 129.684 446.177 129.87 446.024 130.024C445.871 130.177 445.684 130.292 445.479 130.361C445.273 130.43 445.055 130.45 444.84 130.42H434.84C434.626 130.45 434.407 130.43 434.202 130.361C433.997 130.292 433.81 130.177 433.657 130.024C433.504 129.87 433.388 129.684 433.32 129.478C433.251 129.273 433.231 129.055 433.26 128.84V53.2301C433.231 53.0157 433.251 52.7972 433.32 52.5918C433.388 52.3865 433.504 52.1999 433.657 52.0468C433.81 51.8936 433.997 51.7781 434.202 51.7093C434.407 51.6405 434.626 51.6202 434.84 51.6501H451.671ZM452.671 66.4001C452.671 65.6841 452.386 64.9973 451.88 64.491C451.373 63.9846 450.687 63.7001 449.97 63.7001H446.37V86.3301H450C450.356 86.3301 450.708 86.26 451.036 86.1237C451.364 85.9874 451.662 85.7876 451.913 85.5358C452.164 85.284 452.363 84.9852 452.498 84.6565C452.633 84.3277 452.702 83.9756 452.701 83.6201L452.671 66.4001Z"
          fill="inherit"
        />
        <path
          d="M185.571 40.95C184.924 40.9514 184.289 40.7728 183.737 40.4341C183.185 40.0954 182.739 39.6099 182.447 39.032C182.156 38.4541 182.031 37.8065 182.086 37.1616C182.141 36.5166 182.375 35.8998 182.761 35.38C184.77 32.6334 186.94 30.0088 189.261 27.52C189.898 26.8641 190.766 26.4835 191.681 26.4598C192.595 26.436 193.482 26.7709 194.152 27.3929C194.822 28.0149 195.223 28.8745 195.267 29.7878C195.312 30.7012 194.997 31.5957 194.391 32.28C192.25 34.573 190.246 36.9906 188.391 39.52C188.065 39.9618 187.64 40.3212 187.15 40.5695C186.661 40.8178 186.12 40.9481 185.571 40.95V40.95ZM320.771 39.95C320.228 39.9504 319.693 39.8251 319.208 39.584C318.722 39.3428 318.298 38.9923 317.971 38.56C316.08 36.0645 314.047 33.6805 311.881 31.42C311.562 31.0885 311.312 30.6974 311.145 30.2692C310.978 29.841 310.896 29.384 310.906 28.9243C310.915 28.4647 311.015 28.0114 311.199 27.5903C311.384 27.1691 311.649 26.7885 311.981 26.47C312.312 26.1516 312.703 25.9016 313.132 25.7342C313.56 25.5669 314.017 25.4856 314.477 25.4949C314.936 25.5042 315.389 25.6039 315.811 25.7884C316.232 25.9728 316.612 26.2385 316.931 26.57C319.287 29.0287 321.498 31.6232 323.551 34.34C323.968 34.8569 324.228 35.4818 324.302 36.1416C324.376 36.8014 324.26 37.4685 323.969 38.0648C323.677 38.6611 323.221 39.1618 322.654 39.5082C322.088 39.8545 321.435 40.032 320.771 40.02V39.95ZM206.771 20.68C206.02 20.6812 205.288 20.4405 204.684 19.9937C204.08 19.5468 203.636 18.9175 203.417 18.1987C203.198 17.4799 203.217 16.7099 203.47 16.0024C203.722 15.2949 204.196 14.6875 204.821 14.27C207.654 12.3818 210.592 10.6557 213.621 9.10004C214.445 8.69342 215.396 8.6274 216.269 8.91624C217.142 9.20509 217.866 9.82561 218.284 10.6438C218.703 11.4619 218.784 12.412 218.508 13.2889C218.232 14.1657 217.623 14.8989 216.811 15.33C214.023 16.7625 211.319 18.3517 208.711 20.09C208.127 20.4958 207.432 20.7122 206.721 20.71L206.771 20.68ZM299.371 20.03C298.696 20.0267 298.036 19.8288 297.471 19.46C294.843 17.7572 292.118 16.208 289.311 14.82C288.478 14.409 287.843 13.6839 287.544 12.8043C287.246 11.9248 287.31 10.9628 287.721 10.13C288.132 9.29726 288.857 8.6619 289.736 8.36371C290.616 8.06553 291.578 8.12896 292.411 8.54004C295.462 10.0327 298.424 11.7022 301.281 13.54C301.94 13.9448 302.446 14.5563 302.721 15.2792C302.995 16.002 303.023 16.7955 302.799 17.5357C302.575 18.2759 302.112 18.9211 301.483 19.3705C300.854 19.82 300.094 20.0484 299.321 20.02L299.371 20.03ZM233.501 8.93004C232.645 8.92988 231.819 8.61621 231.179 8.04832C230.539 7.48043 230.129 6.69768 230.027 5.84804C229.924 4.99841 230.137 4.14078 230.624 3.43727C231.111 2.73377 231.84 2.23314 232.671 2.03004C235.966 1.22631 239.305 0.615278 242.671 0.200044C243.599 0.0860006 244.535 0.345377 245.272 0.921114C246.009 1.49685 246.487 2.34179 246.601 3.27004C246.715 4.1983 246.455 5.13384 245.88 5.87086C245.304 6.60788 244.459 7.086 243.531 7.20004C240.421 7.58306 237.336 8.14398 234.291 8.88004C234.03 8.92723 233.765 8.94401 233.501 8.93004V8.93004ZM272.371 8.64004C272.109 8.64268 271.847 8.61584 271.591 8.56004C268.537 7.86727 265.445 7.35306 262.331 7.02004C261.403 6.92059 260.552 6.45646 259.966 5.72975C259.38 5.00305 259.106 4.0733 259.206 3.14504C259.305 2.21679 259.769 1.36606 260.496 0.780005C261.223 0.193954 262.153 -0.0794125 263.081 0.0200437C266.467 0.392357 269.829 0.956598 273.151 1.71004C273.988 1.90354 274.724 2.39791 275.22 3.09907C275.716 3.80024 275.936 4.65926 275.84 5.51264C275.744 6.36603 275.337 7.15421 274.697 7.72719C274.058 8.30017 273.23 8.61794 272.371 8.62004V8.64004Z"
          fill="inherit"
        />
        <path
          d="M276.14 55.7301C270.031 45.7846 263.266 36.2568 255.89 27.2101C255.603 26.8604 255.242 26.5788 254.833 26.3855C254.424 26.1921 253.978 26.0918 253.525 26.0918C253.073 26.0918 252.626 26.1921 252.217 26.3855C251.808 26.5788 251.447 26.8604 251.16 27.2101C243.788 36.2625 237.023 45.7933 230.91 55.7401C221.2 71.7401 216.28 85.0301 216.28 95.1401C216.199 100.082 217.103 104.992 218.938 109.581C220.774 114.171 223.504 118.35 226.971 121.873C230.437 125.397 234.571 128.196 239.13 130.106C243.689 132.017 248.582 133 253.525 133C258.468 133 263.362 132.017 267.921 130.106C272.48 128.196 276.613 125.397 280.08 121.873C283.547 118.35 286.277 114.171 288.112 109.581C289.948 104.992 290.851 100.082 290.77 95.1401C290.78 85.0201 285.85 71.7601 276.14 55.7301ZM253.53 120.73C248.49 120.732 243.563 119.239 239.372 116.441C235.18 113.642 231.913 109.663 229.983 105.008C228.053 100.352 227.547 95.2286 228.529 90.2853C229.511 85.342 231.937 80.801 235.5 77.2365C239.063 73.6721 243.603 71.2443 248.546 70.2604C253.489 69.2764 258.612 69.7804 263.269 71.7086C267.925 73.6369 271.905 76.9027 274.706 81.0931C277.506 85.2835 279 90.2102 279 95.2501C279 102.006 276.317 108.485 271.541 113.264C266.765 118.042 260.286 120.727 253.53 120.73Z"
          fill="inherit"
        />
        <path
          d="M263.11 99.2495H253.53C252.469 99.2495 251.452 98.8281 250.702 98.078C249.952 97.3278 249.53 96.3104 249.53 95.2495V80.0195C249.53 79.4942 249.634 78.9741 249.835 78.4888C250.036 78.0035 250.33 77.5625 250.702 77.1911C251.073 76.8197 251.514 76.525 252 76.324C252.485 76.123 253.005 76.0195 253.53 76.0195C254.056 76.0195 254.576 76.123 255.061 76.324C255.546 76.525 255.987 76.8197 256.359 77.1911C256.73 77.5625 257.025 78.0035 257.226 78.4888C257.427 78.9741 257.53 79.4942 257.53 80.0195V91.2495H263.11C264.171 91.2495 265.189 91.671 265.939 92.4211C266.689 93.1712 267.11 94.1887 267.11 95.2495C267.11 96.3104 266.689 97.3278 265.939 98.078C265.189 98.8281 264.171 99.2495 263.11 99.2495V99.2495Z"
          fill="inherit"
        />
      </svg>
    </div>
    <h2>Take a leap through time and see the colors of history.</h2>
  </div>
  <div class="middle">
    <div class="scrollSection">
      <div class="timeline"></div>
      <div class="badges">
        <figure *ngFor="let badge of badges">
          <a [routerLink]="'/time/' + badge.date">
            <img [src]="badge.src" alt="badge" />
            <figcaption>{{ badge.date }}</figcaption>
          </a>
        </figure>
      </div>
    </div>
  </div>
  <div class="bottom">
    <a routerLink="/dates">
      <button [style.background]="colors.fg">CHOOSE ERA</button>
    </a>
    <a href="https://brandon.design" target="_blank">
      <div style="opacity: 0.7">
        Made with <i class="fas fa-heart"></i> by <b>Brandon Shepherd</b>
      </div>
    </a>
    <div class="contact">
      <a href="mailto:hello@brandon.design">
        <b>Contact Us</b>
      </a>
      <span style="font-weight: bold">|</span>
      <a
        href="https://www.dropbox.com/sh/0cz5sjxy2z8e5w7/AADO2AtCS0F9IQ2ayEP0Yjnma?dl=0"
        target="_blank"
      >
        <b>Press Kit</b>
      </a>
    </div>
  </div>
</div>
